$mobile-max-width: 480px;
$tablet-max-width: 1026px;

$color-white: #fff;
$color-black: #000;
$color-lightGrey: #dedede;
$color-shadowGrey: #d2d2d2;
$color-buttonRed: #d00256;

$border-bottom-grey: solid 0.2px $color-shadowGrey;