.cart {
  background-color: #dedede;
  margin: 70px 0 110px; }
  .cart:hover {
    overflow-y: scroll; }
  .cart::-webkit-scrollbar {
    display: none; }

.cart-dropdown {
  position: fixed; }
  .cart-dropdown li a {
    padding-right: 10px; }

.main-nav-mob {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; }

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  background-color: #fff; }

.cart-mob {
  margin: 0;
  width: 30%; }

.cart-logo {
  width: 37px; }

.cart-header {
  margin: 30px 0 20px;
  padding: 20px 10px;
  box-shadow: 0px 6px 4px #d2d2d2, 0px -6px 4px #d2d2d2;
  background-color: #fff; }
  .cart-header h1 {
    font-size: 1.1rem; }
  .cart-header span {
    font-size: 0.8rem;
    font-weight: 500; }

.items {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 5px; }

.item-contents {
  width: 100%; }

.item-img {
  width: 80px;
  height: 80px; }

.items-heading {
  margin: 10px 5px 15px; }
  .items-heading h2 {
    font-size: 0.8rem;
    font-weight: 800; }

.item-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px; }

.cart-btn {
  height: 25px;
  width: 30px;
  border-radius: 5px; }

.rate {
  font-size: 1rem; }

.item-qnty {
  padding: 0 5px; }

.offer-detail {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff; }
  .offer-detail > * {
    margin-left: 10px; }

.checkout-section {
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px -6px 4px #d2d2d2;
  position: fixed;
  bottom: 0;
  padding: 10px; }

.checkout-btn {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between; }

.checkout-btn-empty {
  width: 96%;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem; }

.message-section {
  text-align: center;
  margin-top: 120px; }
  .message-section h2 {
    font-size: 1.1rem; }

@media (min-width: 480px) {
  .cart {
    margin: 110px 0; }
  .main-nav-mob {
    display: none; }
  .main-nav {
    display: block; }
  .main-logo {
    height: 75px; }
  .cart-nav {
    width: 25%; }
  .nav-auth {
    margin-right: 10px; } }
