.mini-cart-body {
  background-color: #eee;
  margin: 10px 0 110px; }
  .mini-cart-body:hover {
    overflow-y: scroll; }
  .mini-cart-body::-webkit-scrollbar {
    display: none; }

.message-section {
  text-align: center;
  margin-top: 180px; }
  .message-section h2 {
    font-size: 1.1rem; }

.items {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  margin: 20px 0;
  padding: 5px; }

.item-contents {
  width: 100%; }

.item-img {
  width: 80px;
  height: 80px; }

.items-heading {
  margin: 10px 5px 15px; }
  .items-heading h2 {
    font-size: 0.8rem;
    font-weight: 800; }

.item-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px; }

.cart-btn {
  height: 25px;
  width: 30px;
  border-radius: 50%; }

.rate {
  font-size: 1rem; }

.item-qnty {
  padding: 0 5px; }

.offer-detail {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff; }
  .offer-detail > * {
    margin-left: 10px; }

.checkout-section {
  width: 100%;
  text-align: center;
  border-top: 0.5px solid #d2d2d2;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  padding: 10px; }

.checkout-btn {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between; }

.checkout-btn-empty {
  width: 96%;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem; }
