.product-page:hover {
  overflow-y: scroll; }

.product-page::-webkit-scrollbar {
  display: none; }

.main-nav {
  display: none; }

.cart-nav-desktop {
  display: none; }

.cards-section {
  display: flex;
  flex-direction: column; }

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: solid 0.2px #d2d2d2;
  border-bottom-style: dashed; }

.card-heading {
  height: 60px; }
  .card-heading h2 {
    font-size: 1rem; }

.card-contents {
  border-bottom: none;
  margin-top: 5px;
  flex-direction: row; }

.card-details {
  display: flex;
  flex-direction: column;
  flex: 1; }

.card-text {
  padding: 5px 9px;
  background-color: #d2d2d2; }

.product-img {
  width: 50%;
  margin-bottom: 10px; }

.buy-btn {
  margin: 20px auto 10px;
  padding: 15px 0;
  width: 100%; }

.buy-button-desktop {
  display: none;
  margin: 10px 0; }

.card-tablet-btn {
  border-bottom: none;
  display: none; }

.product-footer {
  text-align: center; }

.mini-cart {
  height: 74%; }

.mini-cart-section {
  height: 100%;
  width: 489px;
  display: none;
  position: fixed;
  align-items: stretch;
  z-index: 900;
  top: 16%;
  left: 51%; }

.mini-cart-nav {
  background-color: #000;
  color: #fff;
  padding: 20px;
  top: 0; }
  .mini-cart-nav a {
    color: #fff; }

h1.nav-logo-cart {
  font-size: 1.1rem; }

.nav-logo-cart span {
  font-size: 0.8rem;
  font-weight: 500; }

.modal-background {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0px;
  z-index: 500;
  background-color: #000;
  opacity: 0.7; }

@media (min-width: 480px) {
  .main-nav-mob {
    display: none; }
  .main-nav {
    display: block; }
  .buy-btn {
    display: none; }
  .card-tablet-btn {
    display: block;
    border-bottom: solid 0.2px #d2d2d2;
    border-bottom-style: dashed; }
  .buy-btn-tablet {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px; }
  .cards-section {
    width: 590px;
    height: auto;
    margin-top: 20px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
  .card {
    border-bottom: none;
    margin-left: 25px;
    margin-bottom: 50px;
    padding: 0 20px 0 0;
    box-shadow: 5px 0 2px -2px #f7f7f7;
    width: 270px; }
  .card-text {
    height: 124px;
    font-size: 0.68rem;
    overflow: hidden; }
  .card-heading {
    height: 45px; }
    .card-heading h2 {
      font-size: 0.8rem; }
  .product-img {
    width: 124px;
    height: 124px;
    margin-bottom: 10px; }
  .product-footer {
    text-align: left;
    padding-left: 180px; } }

@media (min-width: 1026px) {
  .cart-nav-tablet {
    display: none; }
  .cart-nav-desktop {
    display: flex; }
  .card-tablet-btn {
    display: none;
    border-bottom: none; }
  .cards-section {
    width: 760px; }
  .card {
    margin-left: 10px;
    padding: 0 10px 0 0;
    width: 180px; }
  .card-contents {
    border-bottom: solid 0.2px #d2d2d2;
    border-bottom-style: dashed;
    flex-direction: column;
    flex: 1; }
  .card-text {
    flex: 1;
    height: 59px; }
  .card-heading {
    height: 70px; }
    .card-heading h2 {
      font-size: 0.8rem; }
  .buy-btn-desktop {
    padding: 5px 15px; }
  .buy-button-desktop {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product-img {
    align-self: center;
    width: 160px;
    height: 160px; }
  .product-footer {
    font-size: 0.567rem; } }
