.products-nav-mobile {
  background-color: #d00256;
  color: #fff;
  margin: 20px 0;
  padding: 10px 0;
  display: block; }

.menu-bar {
  background-color: #d00256; }
  .menu-bar:hover {
    background-color: #d00256; }
  .menu-bar:active {
    background-color: #d00256; }

.nav-logo {
  font-weight: 500;
  font-size: 1.3rem; }

.drop-nav {
  display: none;
  margin-top: 10px; }

.mobile-nav-list li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer; }

.products-nav {
  display: none;
  background-color: #d2d2d2;
  flex-basis: 30%; }

.desktop-nav-list li {
  font-size: 0.9rem;
  margin: 10px 0; }

.desktop-nav-list a {
  display: block;
  margin-right: 5px;
  padding: 10px;
  color: #4d4d4d; }

@media (min-width: 480px) {
  .products-nav-mobile {
    display: none; }
  .products-nav {
    display: block; } }
