.main-nav {
  display: none; }

.cart-nav-desktop {
  display: none; }

.card-section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }

.cards {
  margin-bottom: 30px;
  border-bottom: solid 0.2px #d2d2d2;
  border-bottom-style: dashed; }

.card-heading {
  height: 25px; }

.card-heading h2 {
  font-size: 1rem; }

.card-contents {
  margin-top: 15px;
  flex-direction: row; }

.card-text {
  padding: 5px 9px;
  background-color: #d2d2d2; }

.product-img {
  width: 50%;
  margin-bottom: 10px; }

.buy-btn {
  margin: 20px auto 10px;
  padding: 15px 0;
  width: 100%; }

.buy-button-desktop {
  display: none;
  margin: 10px auto; }

.buy-btn-tablet {
  display: none; }

.product-footer {
  text-align: center; }

.mini-cart {
  height: 74%; }

.mini-cart-section {
  height: 100%;
  width: 489px;
  display: none;
  position: fixed;
  align-items: stretch;
  z-index: 900;
  top: 16%;
  left: 50.5%; }

.mini-cart-nav {
  background-color: #000;
  color: #fff;
  padding: 20px;
  top: 0; }

.mini-cart-nav a {
  color: #fff; }

h1.nav-logo-cart {
  font-size: 1.1rem; }

.nav-logo-cart span {
  font-size: 0.8rem;
  font-weight: 500; }

.modal-background {
  display: none;
  position: absolute;
  top: 0;
  z-index: 500;
  height: 137%;
  width: 100%;
  background-color: #000;
  opacity: 0.7; }

@media (min-width: 480px) {
  .main-nav-mob {
    display: none; }
  .main-nav {
    display: block; }
  .buy-btn {
    display: none; }
  .buy-btn-tablet {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px; }
  .card-section {
    width: 550.07px;
    height: auto;
    margin-top: 20px;
    padding: 0 10px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
  .cards {
    width: 250px; }
  .card-text {
    height: 124px;
    font-size: 0.68rem;
    overflow: hidden; }
  .card-heading {
    height: 32px; }
  .card-heading h2 {
    font-size: 0.8rem; }
  .product-img {
    width: 124px;
    height: 124px;
    margin-bottom: 10px; }
  .product-footer {
    text-align: left;
    padding-left: 220px; } }

@media (min-width: 1020px) {
  .cart-nav-tablet {
    display: none; }
  .cart-nav-desktop {
    display: flex; }
  .buy-btn-tablet {
    display: none; }
  .card-section {
    width: 730.07px; }
  .cards {
    width: 160px; }
  .card-contents {
    flex-direction: column; }
  .card-text {
    height: 59px; }
  .buy-btn-desktop {
    padding: 5px 15px; }
  .buy-button-desktop {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product-img {
    align-self: center;
    width: 160px;
    height: 160px; }
  .product-footer {
    padding-left: 180px;
    font-size: 0.567rem; } }
